.about-me {
    padding: 100px 0;
    .person{
        display: flex;
        margin: 0 -15px;
        align-items: center;
        flex-wrap: wrap;
        .photo {
            width: 50%;
            padding: 0 15px;
            @media (max-width:1000px){
                width: 100%;
                max-width: 500px;
                margin: 0 auto 40px auto;
            }
            .frame {
                padding: 0 30px 30px 30px;
                position: relative;
                &::after {
                    content: '';
                    border: 6px solid $mainColor;
                    width: calc(100% - 60px);
                    height: calc(100% - 30px);
                    position: absolute;
                    top: 30px;
                    left: 60px;
                    z-index: -1;
                }
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .info {
            width: 50%;
            padding: 0 15px;
            @media (max-width:1000px){
                width: 100%;
                .button-download {
                    text-align: center;
                }
            }
            .data {
                display: flex;
                flex-wrap: wrap;
                padding: 0 -15px 30px -15px;
                ul {
                    list-style-type: none;
                    width: 50%;
                    padding: 0 15px;
                    margin: 0;
                    @media (max-width:1000px){
                        &:first-of-type {
                            text-align: right;
                        }
                    }
                    li {
                        margin: 0 0 20px 0;
                        @media (max-width:1000px) {
                            span {
                                display: block;
                            }
                        }
                        .name {
                            opacity: 0.8;
                            padding-right: 20px;
                            @media (max-width:1000px) {
                                margin: 0 0 6px 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .time-lines-wraper {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
        .time-line {
            width: 50%;
            padding: 0 15px;
            @media (max-width:1000px) {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
            }
            .h3 {
                font-size: 20px;
                margin: 0 0 50px 0;
            }
            .item {
                padding: 0 0 30px 34px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    background-color:$mainColor;
                    left: 16px;
                    top: 1px;
                    @media (max-width:1000px) {
                        display: none;
                    }
                }
                &::after {
                    content: '';
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    border: 2px solid $mainColor;
                    background-color: $bodyBGColor;
                    position: absolute;
                    top: 1px;
                    left: 10px;
                }
                .date {
                    margin: 0 0 10px 0;
                    font-size: 13px;
                    opacity: 0.8;
                }
                h4 {
                    margin: 0 0 10px 0;
                    font-size: 18px;
                    font-weight: 600;
                }
                .desc {
                    margin: 0;
                    font-size: 14px;
                    line-height: 1.8;
                }
                &:last-of-type {
                    padding: 0 0 5px 34px;
                }
            }
        }
    }
    .skills {
        padding: 100px 0;
        h3 {
           font-size: 24px;
            font-weight: 900;
            margin: 0 0 50px 0;
        }
        .progress-bars {
            display: flex;
            margin: 0 -15px;
            flex-wrap: wrap;
            .item {
                width: calc(100% / 3);
                padding: 0 15px;
                margin: 0 0 40px 0;
                .language {
                    margin: 0 0 24px 0;
                }
                .bar {
                    height: 2px;
                    background-color:$progressBarBgBottonColor;
                }
                .bg {
                    height: 2px;
                    background-color:$mainColor;
                    position: relative;
                    .cloud {
                        border: 1px solid $mainColor;
                        width: 46px;
                        height: 32px;
                        text-align: center;
                        line-height: 32px;
                        border-radius: 5px;
                        color: var(--mainColor);
                        position: absolute;
                        right: -23px;
                        top: -40px;
                        &::after{
                            position: absolute;
                            content: '';
                            display: block;
                            width: 10px;
                            height: 10px;
                            border: 1px solid $mainColor;
                            rotate: 45deg;
                            left: 50%;
                            translate: -50% -6px;
                            background-color:$bodyBGColor;
                            border-width: 0 1px 1px 0;
                        }
                    }
                }
                @media (max-width:1000px) {
                    width: 50%;
                }
                @media (max-width:600px) {
                    width: 100%;
                }
            }
        }
    }
}