.btn {
    display: inline-block;
    background-color: $mainColor;
    padding: 15px 30px;
    width: fit-content;
    gap: 15px;
    border-radius: 30px;
    color: $mainButtonColor;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border: 2px solid $mainColor;
    @media (max-width:1000px){
        padding: 8px 15px;
    }
    @media (max-width:600px) {
        padding: 8px 20px;
        text-align: center;
        width: 100%;
    }

    span {
        position: relative;
        z-index: 5;
    }


    &::before {
        position: absolute;
        content: "";
        top: 0;
        height: 111%;
        left: -5px;
        width: 0;
        background-color: $mainButtonBGhoverColor;
        // border: 2px solid $mainButtonBGhoverColor;
        transform: skew(-16deg);
        z-index: 4;
        transition: 300ms;
    }

    &:hover::before {
        width: 110%;
        right: 0;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &.btn-border {
        background-color: transparent;
        color: $mainColor;
        border: 2px solid $mainColor;
        &:hover {
            ::after {
                width: 110%;
                right: 0;
                @media (max-width:1000px) {
                    display: none;
                }
            }
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            height: 111%;
            left: -5px;
            width: 0;
            background-color: $mainColor;
            transform: skew(-16deg);
            transition: 300ms;
            z-index: 1;

            &:hover {
                span {
                    color:  $mainButtonColor;
                    @media (max-width:1000px) {
                        color: $mainColor;
                    }
                }
            }
        }
    }
}