.home {
  background-image: url(/img/bgimage1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  @media (max-width: 1000px) {
    background-image: none;
    background: radial-gradient(
      circle,
      rgba(63, 63, 66, 1) 0%,
      rgba(5, 2, 3, 1) 100%
    );
    background-size: cover;
    max-height: 100vh;
  }

  .text-welcome {
    max-width: 550px;
    margin: 0 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    @media (max-width: 1000px) {
      margin: 0 auto;
      padding: 0 15px;
      text-align: center;
    }

    .desc {
      margin: 0 0 15px 0;
      line-height: 1.8;
    }

    .hi-there {
      font-size: 19px;
      text-transform: uppercase;
    }

    h1 {
      font-size: 36px;
      display: inline-block;
      height: 80px;
      margin: 10px 0;
    }
  }

  .buttons {
    display: flex;
    gap: 15px;

    @media (max-width: 1000px) {
      justify-content: center;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
