$mainFontFamily: "Open Sans", sans-serif;
$headerFontFammily: "Poppins", sans-serif;

$mainColor: #ffb400;

$bodyBGColor: #222222;
$mainTextColor: #eee;
$mainButtonColor: #fff;
$mainButtonBGhoverColor: #555555;
$progressBarBgBottonColor: #555;
$blogTextColor: #fff;
$projectTextColor: #fff;
